[submodule "lisp/tide"]
	path = lisp/tide
	url = https://github.com/yfyyfy/tide.git
[submodule "lisp/flycheck"]
	path = lisp/flycheck
	url = https://github.com/yfyyfy/flycheck.git
[submodule "lisp/add-node-modules-path"]
	path = lisp/add-node-modules-path
	url = https://github.com/yfyyfy/add-node-modules-path.git
