/ac-comphist.dat
/ede-projects.el
/el-get
/eln-cache
/elpa
/elpa-local-repos
/eshell
/recentf
/server/*
/tramp
/transient
/.cache
/.ddskk/*
/.lsp-session-v*
/.python-environments
!.ddskk/init
!.gitkeep
