[submodule "lisp/tide"]
	path = lisp/tide
	url = ../tide.git
[submodule "lisp/flycheck"]
	path = lisp/flycheck
	url = ../flycheck.git
[submodule "lisp/add-node-modules-path"]
	path = lisp/add-node-modules-path
	url = ../add-node-modules-path.git
[submodule "lisp/docker-tramp-ext"]
	path = lisp/docker-tramp-ext
	url = ../docker-tramp-ext.git
